.jsonToXML {
  border: 3px dashed purple;
  border-radius: 10px;
  position: relative;
  height: calc(100% - 106px);
  width: calc(100% - 106px);
  padding: 50px;
}

.jsonToXMLMessage {
  font-weight: normal;
  font-size: 120%;
}

.jsonToXMLContainer {
  padding: 10px;
  position: relative;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
